.banner-padrao{
    height: 580px !important;
    object-fit: fill;
}

.navbar-brand{
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
}

/*STILO DO CARROSSEL DE IMAGENS*/
.carousel-caption{
background-color: rgb(0, 0, 0, 0.7);
width: 100%;
left: 0% !important;
bottom: 0% !important;
}
/*STILO DO CARD DE IMAGENS DO CARROSSEL*/
.card-body{
color: black;
}

/*STILO DO TEXTO DO SCROLLSPY*/
.scrollspy-textoexplicativo{
text-align: center;
font-style: italic;
}

/*STILO DO FORMULÁRIO*/

.caixaFORM{
    border-radius: 10px;
    padding: 20px;
    margin: 0pt auto;
    background-color: rgb(0, 0, 0, 0.8);
    background-image: url("contato.jpg");
    background-position: center; /* Center the image */
    background-size: cover;
    color: white;
}

.formularioenvio{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;        
} 

.textofim{
    text-align: center;
    font-style: italic;
    font: medium;
}

/*Imagens em movimento MARQUEE*/
.CERTIFICACAO-logo{
text-align: center;
max-width: 1337px;
max-height: 90px;
}    

/*RODAPÉ DO MEU SITE*/

.sessao_colorida{
background-color: rgb(175, 16, 16);
padding-top: 20px;
padding-bottom: 20px;
}
.caixa_servico{
background-color: white;
min-height: 40px;
margin: 10px;
border-radius: 5px;
padding: 10px;
text-align: center;
}
.card-img-top{
min-height: 160px;
max-height: 160px;
}

.info_aqui {
text-align: center;
font-size: x-large;
}

.logo {
height: 150px;
width: 150px;
padding: 10px;

}

#myFooter {
background-color: #3c3d41;
color: white;
padding-top: 30px;
}

#myFooter .footer-copyright {
background-color: #333333;
padding-top: 3px;
padding-bottom: 3px;
text-align: center;
}

#myFooter .row {
margin-bottom: 60px;
}

#myFooter .navbar-brand {
margin-top: 45px;
height: 65px;
}

#myFooter .footer-copyright p {
margin: 10px;
color: #ccc;
}

#myFooter ul {
list-style-type: none;
padding-left: 0;
line-height: 1.7;
}

#myFooter h5 {
font-size: 18px;
color: white;
font-weight: bold;
margin-top: 30px;
}

#myFooter h2 a{
font-size: 50px;
text-align: center;
color: #fff;
}

#myFooter a {
color: #d2d1d1;
text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
text-decoration: none;
color: white;
}

#myFooter .social-networks {
text-align: center;
padding-top: 30px;
padding-bottom: 16px;
}

#myFooter .social-networks a {
font-size: 32px;
color: #f9f9f9;
padding: 10px;
transition: 0.2s;
}

#myFooter .social-networks a:hover {
text-decoration: none;
}

#myFooter .linkedin:hover {
color: #0077e2;
}

#myFooter .instagram:hover {
color: rgb(206, 12, 12);
}

#myFooter .github:hover {
color: #00aced;
}

#myFooter .btn {
color: white;
background-color: #ec0808;
border-radius: 20px;
border: none;
width: 150px;
display: block;
margin: 0 auto;
margin-top: 10px;
line-height: 25px;
}

@media screen and (max-width: 767px) {
#myFooter {
    text-align: center;
}
}

/* CSS utilizado para posicionar o rodapé no final da página. */

html{
height: 100%;
}

body{
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
height: 100%;
}

.content{
flex: 1 0 auto;
-webkit-flex: 1 0 auto;
min-height: 200px;
}

#myFooter{
flex: 0 0 auto;
-webkit-flex: 0 0 auto;
}

body{
background-image: url("super_fundo.jpg") !important;
}

.container{
width: 90% !important;
background-color: white !important;
}
